h1 {
    color: #4c0909;
    margin-left: 30px;
}

.header * {
    border: solid;

}

.header{
    background-color: #e7e7e7;
    display:flex;
    justify-content:space-between;
}

.side-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
    text-decoration:brown ;

}

body{
    background-color: #39757c;
}

a:link {
    color: rgb(255, 12, 12);
}

a:visited {
    color: darkgreen;
}



.menu {
    margin-right: 30px;

}

.menu a {
    margin-left: 20px;    
}

.item {
    position: relative;
}

.item p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    

}

.item:hover p {
    opacity: 1;
}

.item:hover img {
    opacity: 0.63;
}